body {

}

h1 {
    background-color: #CCCCCC;
}

.container {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

.header {
    text-align:center;
}

.footer {
    position:absolute;
    bottom: 0;
    height:32px;
    margin-top:20px
}

#navbar-container {
    display:table;
    margin:0 auto;
}

.form {
    padding: 2em;
    width: 100%;
}

.form label {
    display: block;
    width: 20%;
    float: left;
    margin-bottom: 1em;
    text-align: left;
    padding-right: 1em;
}

.form br {
    clear: left;
}

.formTextBox {
    width: 240px;
}

.formButton {
    width: 120px;
}

.formButtonSubmit {
    float: right;
}

.formDropDownList {
    width: 240px;
}

.formTextArea {
    width: 240px;
    height: 240px;
}