body {
    font-family: Calibri;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0% 5% 0% 5%;
    table-layout: auto;
    border-spacing: 2px;
}
